@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  
}

.active{
    background-color: #635FC7;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
}




